#ChatRoom {
	width: 496px;
	float: right;
	border: 2px solid black;
	border-radius: 5px;
}

#quitChatRoomButton {
	width: 100px;
	height: 35px;
	margin-top: 5px;
	margin-left: -27px;
	padding: 0px;
	font-size: 20px;
	cursor: pointer;
}
