#ChatContentsBox {
	overflow-y: auto;
	height: 70vh;
}

.myChats {
	text-align: right;
	font-size: 25px;
}

.yourChats {
	text-align: left;
	font-size: 25px;
}

.name {
	font-size: 70%;
	font-weight: bold;
}

.chatContents {
	margin-bottom: 3px;
}
